<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles/mystyle.css">
    <title>Home</title>
</head>
<body>
<center><H1>Welcome to my web interface</H1></center>
<center>
    <div class = "select">
    <H2>Display Official details</H2>
    <form method = "POST" action="/fetchdata">
        <label for = "Phone">Phone No:</label><br>
        <input type = "text" name = "phoneNo" /><br>
        <input type = "submit">
    </form>
    <hr>
    </div>
    <div class = "ins">
    <H2>Add Texas Official</H2>
    <form method = "POST" action = "/insert">
        <label for = "id">ID:</label><br>
        <input type = "text" name = "idText" /><br>
        <label for = "name">Name:</label><br>
        <input type = "text" name = "nameText" /><br>
        <label for = "design">Designation:</label><br>
        <input type = "text" name = "jobText" /><br>
        <label for = "emailLabel">Email:</label><br>
        <input type = "text" name = "emailText" /><br>
        <label for = "phoneNumber">Phone number:</label><br>
        <input type = "text" name = "phoneText" /><br>
        <input type = "submit">
    </form>
    <hr>
    </div>
    <div class="up">
    <h2>Update official name</h2>
    <form method = "POST" action = "/update">
        <label for = "ogName">Original Name:</label><br>
        <input type = "text" name = "ogNameText" /><br>
        <label for = "newName">New Name</label><br>
        <input type = "text" name = "newNameText" /><br>
        <input type = "submit">
    </form>
    <hr>
    </div>
    <div class="del">
    <h2>Remove official</h2>
    <form method = "POST" action = "/delete">
        <label for = "delName">Official name:</label><br>
        <input type = "text" name = "delOff" /><br>
        <input type = "submit">

    </form>
    </div>
</center>
</body>
</html>