h1{
    background-color: tomato;
    color: whitesmoke;
}
body {

    color: lightgreen ;
}
.select
{
    background-color: dodgerblue;
}
.ins{
    background-color: indianred;
}
.up{
    background-color: blueviolet;
}
.del{
    background-color: black;
}